<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= title %></title>
	<link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
	<h1>qr-reader</h1>

	<video id="video">비디오를 사용할 수 없습니다.</video>

	<script src="/scripts/read-qr.js"></script>

</body>
</html>